<h2>Hello World</h2>
<p>this project was developed by students:<strong> Mhd_tarek_147316 & louay_152213 & maher_163342 </strong> as homework for AWP -just for louay_152213 & maher_163342- and ADM -for all-  subjects S21 in Master in Web science at Syrian Virtual University</p>

<h5>do not forget to check the Admin Panal from here:</h5> 
	<a href="https://svu-homework-awp-adm-s21.herokuapp.com/admin">https://svu-homework-awp-adm-s21.herokuapp.com/admin</a>

<br>
<br>
<h5>We use this tools to build the project</h5>
<ul>ruby '2.7.2' </ul>
<ul>rails6.0.3'</ul>
<ul>bootstrap gem</ul>
<ul>devise gem</ul>
<ul>rails_admin gem</ul>
<ul>rails_admin_import gem</ul>
<ul>Deploy using <a href="http://heroku.com/">Heroku</a></ul>
